@media all and (max-width: 480px){

.tasksbtn {
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold
}

.mapbtn {
    background: white;;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.calendarbtn{
    background: white;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold
}

.drawbtn {
    background: white;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold
}
}